body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: black;
	color: white;
}

a {
	color:red;
}


/* Index Homepage */

.index-intro {
    font-size:18px;
    margin-bottom:25vh;
    padding: 10px;
}

.index-row {
    display: flex;
    flex-wrap: wrap; 
    padding: 10px; 
    margin-bottom: 5px;
    margin-top: 5px;
    border-top: 2px solid white;
}

.index-name {
    flex:0 0 50%;
}

.index-layer {
    flex:0 0 25%;
}

.index-tag {
    flex:0 0 25%;
}

/*IP Address*/

/*
    background-color:lime;
    background-color:green;
    background-color:magenta;
    background-color:cyan;
    background-color: lightslategray;*/

.ip {
	background-color:lime;
	height: 100vh;
	width:100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ip-text {
    font-size:10vw;
    text-align: center;
    color:black; 
}

/* Checkers */

.checkers {
    display: flex;
    flex-wrap: wrap;
}

.checkers-black {
	width:50vw;
	height:50vh;
	background-color:white;
}

.checkers-white {
	width:50vw;
	height:50vh;
	background-color:black;
}

/* Cloud Pattern*/

.cloud-pattern {
   display: flex;
   flex-wrap: wrap;
}

.cloud-circle {
   width: 25vw;
   height: 25vh;
   background-image: linear-gradient(blue, white);
}







