body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

.nav {
	width: 100%;
	background-color: brown;
	padding: 20px;
	position: fixed;
	top: 0px;
	left: 0px;
}

.nav-item {
	background-color: yellow;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	color: #000;
	text-decoration: none;
	cursor:pointer;
}

.title {
	width: 100%;
	margin-top: 80px;

}

.title img {
	width: 100%;
}

.research {
	display: flex;
	flex-wrap: wrap;
}

.research-item {
	flex:0 0 33.333%;
	padding: 10px;
	transition: 1s;
	cursor: zoom-in;
}

.research-item img {
	width:100%;
}

.research-item span {
	color: gray;
	font-size: 18px;
	
}

.essay {
	display:flex;
	flex-wrap:wrap;
	margin-top:40px;
}

.text{
	flex:0 0 66.66%;
	padding: 80px;

}

.text h1 {
	font-size:40px;
}

.text p {
	margin-bottom: 25px;
	font-size: 22px;

}

.figure {
	flex:0 0 33.333%;
	padding:80px;
}

.figure img {
	width: 100%;
}

.figure span {
	font-size: 18px;
	color: gray;
}

/*interactive classes*/

.hide {
	display: none;
}

.show {
	display: block;
}

.large {
	flex:0 0 66.666%;
	border: 5px solid yellow;
	transition: 2s;
}

.active {
	background-color: blue;
}

